<html>
   <head>
      <title>Jerad Mione</title>
      <link rel="stylesheet" href="css/home.css">
   </head>
   <body>
      <div class="jerad">
         <h1>jeradmione</h1>
      </div>
      <div class="links">
         <nav>
            <ul class="nav">
               <li><a href="Resume.erb" target="_blank">Resume</a> </li>
               <li><a href="photos.erb" target="_blank">Photos Gallery</a></li>
               <li><a href="contact.erb" target="_blank">contact</a></li>
            </ul>
         </nav>
      </div>
   </body>
</html>